a:hover {
  cursor: pointer;
}

button:hover {
  cursor: pointer;
}

button:disabled {
  cursor: not-allowed;
}

* {
  font-family: "Noto Sans", sans-serif;
  box-sizing: border-box;
}

.foreground {
  color: #fff;
}

.show {
  display: block;
}

body {
  margin: 0px;
}