a:hover {
  cursor: pointer;
}

button:hover {
  cursor: pointer;
}

button:disabled {
  cursor: not-allowed;
}

* {
  font-family: "Noto Sans", sans-serif;
  box-sizing: border-box;
}

.themedColor {
  color: var(--theme-color);
}

.themedBackgroundColor {
  background-color: var(--theme-backgroundColor);
}

.modalBackgroundColor {
  background-color: var(--theme-modalBackgroundColor);
}

.modalButtonColor {
  color: var(--theme-modalButtonColor);
}

.modalButtonBackgroundColor {
  background-color: var(--theme-modalButtonBackgroundColor);
}

.show {
  display: block;
}

body {
  margin: 0px;
}